<html>
  <body>
    <h1>Success!</h1>
    <p>Your app is ready. You will need to use the following credentials.</p>
    <dl>
      <dt>Username</dt>
      <dd>{{ username }}</dd>
      <dt>Password</dt>
      <dd>{{ password }}</dd>
    </dl>
    <p>
      Please add the following entry to your <code>~/.netrc</code> file (or
      <code>_netrc</code> on Windows).
    </p>
    <pre>
machine {{ request.host }}
    login {{ username }}
    password {{ password }}
</pre
    >
    <p>Next, add your favorite streamers.</p>
    <pre>
$ curl {{ request.url }}/streamers --netrc -d name=garybernhardt
$ curl {{ request.url }}/streamers --netrc -d name=esl_sc2 -d max_quality=720p60
</pre
    >
    <p>When any of the streamers is live, the app will record the stream.</p>
    <p>
      Finally, to watch the latest recording, open the following URL in mpv,
      VLC, QuickTime, or any other video player.
    </p>
    <pre>
$ mpv {{ request.url }}/latest/esl_sc2
</pre
    >
    <p>
      If you have a question or run into a problem, please create an issue on
      <a href="https://github.com/soylent/offstream/issues">GitHub</a>.
    </p>
  </body>
</html>
