attrs==21.2.0
base58==2.1.1
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
Flask==2.0.2
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
isodate==0.6.1
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.0.1
multiaddr==0.0.9
mypy==0.920
mypy-extensions==0.4.3
netaddr==0.8.0
packaging==21.3
pluggy==1.0.0
psycopg2==2.9.2
py==1.11.0
pycountry==20.7.3
pycryptodome==3.12.0
pyparsing==3.0.6
PySocks==1.7.1
pytest==6.2.5
python-dotenv==0.19.2
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.28
sqlalchemy2-stubs==0.0.2a19
streamlink==3.0.3
toml==0.10.2
tomli==2.0.0
typing_extensions==4.0.1
urllib3==1.26.7
varint==1.0.2
websocket-client==1.2.3
Werkzeug==2.0.2
